body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 24px 100px;
    border-bottom: 1px solid#CCCCCC;
    height: 96px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    color: #15803D;
    font-size: 24px;
    line-height: 24px;
    font-style: bold;
}

nav {
    display: flex;
    width: 807px;
    height: 48px;
    gap: 40px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #333333;
    font-size: 16px;
}

.logout {
    display: flex;
    color: #34A853;
    padding: 12px 24px;
    border: 1px solid #34A853;
    border-radius: 8px;
    width: 140px;
    height: 48px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 1240px;
    height: 48px;
    align-items: center;
}

h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
    align-items: center;
}

.shop {
    width: 128;
    height: 48;
    gap: 10px;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #15803D;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF
}

.container-1 {
    display: flex;
}

button {
    border: none;
    background-color: #FFFFFF;
    justify-content: left;
}