body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    max-width: 1440px;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header {
    background-color: #CCCCCC;
    display: flex;
    height: 96px;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    align-content: center;
    padding: 24px 100px;
    margin: 0;
    overflow: hidden;
}

header section div a {
    font-size: 16px;
    line-height: 24px;
    color: black;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #15803D;
}

.nav {
    width: 478px;
    height: 48px;
    gap: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.home {
    width: 96px;
    height: 48px;
    padding: 12px 24px;
    border-radius: 8px;
}

.hiw {
    width: 153px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 24px;
}

.mk {
    width: 151px;
    height: 48px;
    border-radius: 8px;
    padding: 12px 24px;
}

header section {
    width: 296px;
    height: 48px;
    margin-right: 16px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.acct {
    width: 296px;
    height: 48px;
}

h1 {
    text-align: center;
}

.container {
    height: 48px;
    width: 140px;
    padding: 12px 24px;
    border: 1px solid #34A853;
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.login {
    color: #15803D;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    justify-content: center;
    align-items: center;
}

.signup {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    justify-content: center;
    align-items: center;
}

.container-1 {
    height: 48px;
    width: 140px;
    padding: 12px 24px;
    background-color: #15803D;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 64px;
    font-style: semibold;
    line-height: 80px;
    font-weight: 600;
    font: poppins;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}

p {
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #3C383E;
    font-style: regular;
    text-align: center;
    margin: 0;
}

body section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-2 {
    background-color: #FFFFFF;
    width: 178px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #34A853;
    padding: 12px 24px;
    margin: 10px;
}

.jaf {
    color: #15803D;
    font-size: 16px;
    line-height: 24px;
}

.container-3 {
    background-color: #15803D;
    width: 224px;
    height: 48px;
    padding: 12px 24px;
    border-radius: 8px;
    margin: 10px;
}

.bap {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}

.container-4 {
    width: 100vw;
    height: 606px;
    overflow-x: scroll;
    white-space: nowrap;
}

.container-5 {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    height: 394px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

h2 {
    color: #333333;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
}

.wcf {
    font-size: 20px;
    line-height: 36px;
    color: #3C383E;
}

.container-6 {
    width: 100%;
    max-width: 1240px;
    margin: auto;
    height: 256px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.container-7 {
    width: 386.67px;
    height: 256px;
    border-radius: 8px;
    padding: 24px;
    flex-direction: coloumn;
    background-color: #F9FAFB;
    margin: 0px 10px 0px 0px;
    gap: 12px;
}

h4 {
    font-style: bold;
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    text-align: center;
}

.txt {
    font-size: 14px;
    line-height: 24px;
    color: #3C383E;
}

.container-8 {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    height: 747px;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
}

.hfw {
    font-size: 40px;
    line-height: 36px;
    font-style: bold;
    text-align: center;
    color: #333333;
}

.text2 {
    font-size: 20px;
    line-height: 36px;
    font-style: medium;
    text-align: center;
    color: #3C383E;
}

.container-9 {
    height: 325px;
    width: 608px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.container-10 {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    height: 416px;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 40px 100px;
}

.for {
    font-style: medium;
    font-size: 28px;
    line-height: 34px;
    color: #363A49;
    text-align: center;
}

.container-11 {
    background-color: #EAFAF0;
    height: 303px;
    width: 100%;
    padding: 60px 100px;
    justify-content: space-between;
    display: flex;
    gap: 24px;
}

.container-12 {
    background-color: #FFFFFF;
    height: 183px;
    width: 397.33px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 24px;
    gap: 13px;
}

.c12 {
    font-size: 34px;
    color: #15803D;
    text-align: center;
    font-style: medium;
}

.c12-text {
    color: #3C383E;
    font-size: 16px;
    text-align: center;
}

.container-13 {
    width: 100%;
    height: 964px;
    gap: 48px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.fpa {
    font-size: 40px;
    color: #333333;
    line-height: 60px;
    font-style: bold;
    text-align: center;
}

.container-15 {
    max-width: 1240px;
    width: 100%;
    margin:auto;
    height: 497px;
    gap: 16px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.container-14 {
    width: 402.87px;
    height: 497px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

h5 {
    font-size: 24px;
    font-style: bold;
    line-height: 28.8px;
    color: #333333;
}

.p2 {
    font-size: 20px;
    line-height: 24px;
    color: #15803D;
    font-style: medium;
}

.p3 {
    font-size: 18px;
    line-height: 19.2px;
    color: #3C383E;
}

.sap {
    width: 340px;
    height: 48px;
    background-color: #15803D;
    padding: 12px 24px;
    border-radius: 8px;
    gap: 10px;
    justify-content: center;
}

.container-16 {
    width: 100%;
    height: 544px;
    color: #FFFFFF;
    padding: 60px 100px;
    flex-direction: column;
    text-align: left;
}

.con16-txt {
    color: #333333;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
}

.cont16 {
    height: 344px;
    width: 1240px;
    gap: 16px;
}

.subcont16 {
    height: 56px;
    width: 1240px;
    background-color: #F9FAFB;
    border: solid 1px #DCDCDC;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    text-align-last: left;
    align-content: center;
}

.subcont16-txt {
    font-size: 14px;
    color: #333333;
    line-height: 24px;
}

.container-17 {
    height: 441px;
    width: 100%;
    max-width: 1440px;
    background-color: #E8FFD9;
    flex-direction: column;
    margin: 0;
    gap: 40px;
}

.cont17-hdr {
    font-size: 48px;
    line-height: 72px;
    color: Black color/Main black default;
    margin: 0;
}

.cont17-p {
    font-size: 16px;
    line-height: 24px;
    color: Black color/Main black default;
}

.anchor {
    max-width: 1440px;
    width: 100%;
    gap: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.start-selng {
    background-color: #FFFFFF;
    border: 1px solid #34A853;
    padding: 12px 24px;
    border-radius: 8px;
    align-items: center;
}

.start-shpng {
    background-color: #15803D;
    border-radius: 8px;
    padding: 12px 24px;
    align-items: center;
}

footer {
    background-color: #0F1419;
    color: white;
}